@tailwind base;
@tailwind components;
@tailwind utilities;




body , html {
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.title {
  color: #0a3556;
  font-weight: 700;
  line-height: 120%;
  font-size: 17px;
}
