@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");






body {
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.title {
  color: #0a3556;
  font-weight: 700;
  line-height: 120%;
  font-size: 17px;
}


p , h1 , h2 , h3 , span {
  font-family: "Montserrat", sans-serif !important;

}